.heading {
  font-size: 22px;
  font-weight: bold;
}

.stepperContent {
  background-color: white;
  border-radius: 8px;
  margin-top: 10px;
}

.nextButton {
  background-color: orange;
  padding: 8px 32px;
  border: none;
  border-radius: 3px;
  color: white;
  letter-spacing: 1px;
}

.active {
  border: 1px solid orange !important;
  border-radius: 3px;
  color: orange;
}

.saveButton {
  border: none;
  background-color: #F0F0F0;
  letter-spacing: 1px;
}

.backButton {
  border: 1px solid orange;
  padding: 8px 32px;
  margin-right: 10px;
  border-radius: 3px;
  color: orange;
  letter-spacing: 1px;
}

.stepperHeading {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #F0F0F0;
  border: 1px solid #E3DFDF;
}
